<h1>Flight Details</h1>
<p>Flight Number: <%= @flight.number %></p>
<p>From: <%= @flight.origin %> To: <%= @flight.destination %></p>
<p>Departure: <%= @flight.departure %></p>
<p>Arrival: <%= @flight.arrival %></p>
<%= link_to "Book this flight", new_flight_booking_path(@flight) %>
